<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="icon-font.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/4ec9fc748c.js" crossorigin="anonymous"></script>
    <title>Home</title>

</head>

<body>

    <header class="header">
        <div class="logo-box">
            <h3>DONATOZ</h3>
            <div>
                <a href="#" class="btn btn-white sign-up"><b>Login</b></a>
                <a href="#" class="btn btn-white sign-up"><b>Sign Up</b></a>
            </div>
        </div>
        <div class="textbox">
            <h1 class="heading-primary">
                “Change will not come if we wait for some other person, or if we wait for some other time. We are the
                ones we’ve been
                waiting for. We are the change that we seek.”
            </h1>
            <a href="#" class="btn btn-white">Donate <span style="color:red">Now!</span></a>
        </div>
    </header>

    <main>
        <section class="org-section">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">About Us</a>
            </div>
            <div class="row">
                <div class="col-1-of-2">
                    <h3 class="heading-tertiary u-margin-bottom-small mission mission-text">

                        “The idea of Donatoz was born very simply to bridge the gap between two sets of people - people
                        who want to give, who
                        want to try and make a difference along with those who are doing phenomenal work but don’t know
                        how to reach out to the
                        people who want to support them.”
                    </h3>

                </div>
                <div class="col-1-of-2">
                    <div class="composition">
                        <img src="./img1.jpeg" alt="Photo1" class="composition__photo composition__photo--p1">
                        <img src="./img2.jpeg" alt="Photo2" class="composition__photo composition__photo--p2">
                        <img src="./img3.jpeg" alt="Photo3" class="composition__photo composition__photo--p3">
                    </div>
                </div>
            </div>
        </section>

        <section class="don-section">
            <div class="row">
                <h3 class="heading-tertiary u-margin-bottom-small mission mission-text">

                    The consequences of poverty are manifold and it impacts families through generations. An
                    intervention at the right time,
                    like educating one generation or providing livelihood to increase income can help families break the
                    cycle of
                    generational poverty.

                    India is population rich. Our people are our resources and if each one of us commits to giving
                    regularly, we will be
                    strong enough to solve our problems. We could even be audacious enough to say that we as a community
                    may not need any
                    aid if we make giving a way of life.
                </h3>

            </div>
        </section>

    </main>
</body>

</html>